# ==========================
# Node.js
# ==========================
node_modules/
**/node_modules/

# npm
npm-debug.log*
.npmrc

# ==========================
# Python
# ==========================
venv/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]

# ==========================
# Environment files
# ==========================
.env
**/.env

# ==========================
# SQLite
# ==========================
*.sqlite3

# ==========================
# Build folders
# ==========================
build/
dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
HRMS_BACKEND/hrms_db.sqlite3