Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-filter>=23.5
#mysqlclient>=2.2
Pillow>=10.0
python-decouple>=3.8
celery>=5.3
redis>=5.0
gunicorn>=21.2
openpyxl>=3.1
reportlab>=5.0
python-dotenv
python-decouple
psycopg2  